.frame {
  padding: 20px;
  max-width: 65vw;

  .frame-footer {
    margin-top: 15px;

    button {
      background-color: darkcyan;
      color: white;
    }
  }

  .table {
    width: 100%;

    tr {
      text-align: left;
    }
  }
}
