<div class="sidebar-left darkModeAuto" @fadeIn>
  <ul class="sidebar-item">
    <!-- Image compte visiteur -->
    <li>
      <!-- <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Smashicons - Flaticon</a> -->
      <button mat-button *ngIf="!isAuthenticated()" (click)="login()"><img src="assets/images/user.svg" width="24"><span style="vertical-align: bottom !important;">Connexion</span></button>
      <button mat-button *ngIf="isAuthenticated()" (click)="account()"><img src="assets/images/user.svg" width="24"><span>{{getUserName()}}</span></button>
    </li>

    <!-- Déconnexion -->
    <li *ngIf="isAuthenticated()">
      <button mat-button (click)="logout()"><mat-icon>exit_to_app</mat-icon> Déconnexion</button>
    </li>
  </ul>
</div>

<div class="sidebar-close-background"></div>
