header {
  z-index: 10000;
  // position: fixed;
  position: sticky;
  width: 100%;
}

@import "../../styles.scss";

.header-banner {
  height: 46px;
  //background-color: #dfab27;
  background-color: $primary;
  -webkit-box-shadow: 0px -1px 15px 0px rgb(0 0 0);
  box-shadow: 0px -1px 15px 0px rgb(0 0 0);

  .header-button {
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border: 2px solid #ffffffc7;
    background-color: #76767638;

    &:hover {
      background-color: rgb(229 229 229 / 82%);
      color: #3f51b5;
      border: 3px solid #3f51b5;
      transition: 0.2s;
    }
  }

  .header-item-left {
    float: left;
    display: flex;
    height: inherit;
    width: 45px;
    margin-left: 5px;

    button {
      margin: auto;
      // max-height: 28px;
      // opacity: 0.85;
    }
  }

  .header-item-center {
    margin: auto;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-item-right {
    float: right;
    // position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    right: 0;
    position: absolute;
  }

  .header-inline-item {
    display: inline-block;
    margin: auto 3px;
    vertical-align: middle;
  }
}

.header-item-brand {
  margin: auto;
  //background-color: #ffffffb3;
  //border: 1px solid white;
  border-radius: 2px;
  padding: 5px;
  text-shadow: 0px -1px 9px black;
  color: #fff8e6;
  font-size: 15px;
  vertical-align: middle;
}
